<ion-header>
  <ion-toolbar color="dark" mode="ios">

      <ion-button slot="start" id="botao-voltar">VOLTAR</ion-button>
    
    <ion-title>Cadastre sua lista de compras</ion-title>



  </ion-toolbar>
</ion-header>

<ion-content>

  

    <form action="">

      <ion-item>

        <br>

        <ion-label> Item: </ion-label>

        <ion-input type="text" name="produto" placeholder="Nome Produto"></ion-input>

      </ion-item>
      

      <ion-item>

        <br>

        <ion-label> Item: </ion-label>

        <ion-input type="text" name="produto" placeholder="Quantidade Produto"></ion-input>

      </ion-item>

    </form>



</ion-content>
