<ion-header>
  <ion-toolbar>
    <ion-title>Contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card>

    <img alt="imagem contatos" src="/assets/photos/img1.png">

    <ion-card-header> 
      
      
      <ion-card-title> 
        
        Agradecemos o seu contato!!! 
      
      </ion-card-title> 

      <ion-card-subtitle> 
      
        <ion-icon name="call-outline">  </ion-icon>
        <ion-label class="ion-text-wrap" color="dark"> (21) 9877-7727 </ion-label>

        <br>
      
        <ion-icon name="mail">  </ion-icon>
        <ion-label class="ion-text-wrap" color="dark"> lista@lista.com.br </ion-label>

        <br>
      
        <ion-icon name="logo-instagram">  </ion-icon>
        <ion-label class="ion-text-wrap" color="dark"> @lista.produtos </ion-label>

      </ion-card-subtitle>
      
    
    </ion-card-header>

  </ion-card>


</ion-content>
